<div class="wrapper">
        
    <div class="card radius shadowDepth1">
      <div class="card__image border-tlr-radius">
        <img src="../../../assets/images/logopoli.png" alt="image" class="border-tlr-radius">
            </div>

      <div class="card__content card__padding">
                <div class="card__share">
                    <div class="card__social">  
                        <a class="share-icon facebook" href="#"><span class="fa fa-facebook"></span></a>
                        <a class="share-icon twitter" href="#"><span class="fa fa-twitter"></span></a>
                        <a class="share-icon googleplus" href="#"><span class="fa fa-google-plus"></span></a>
                    </div>

                    <a id="share" class="fas fa-address-card share-icon" href="/list">    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-award-fill" viewBox="0 0 16 16">
                      <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
                      <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                    </svg></a>
                  
                </div>

        <div class="card__meta">
          <a href="#">1810011176</a>
                    <time></time>
        </div>

        <article class="card__article">
          <h2><a >Miguel Angel</a>                 <br>
            <a >Garcia Perilla</a>
          </h2>

     

        </article>
             
        <div class="card__meta">
          <a href="#">jubernal11@poligran.edu.co</a>
                    <time></time>
        </div>
      </div>

      <div class="card__action">
        
        <div class="card__author">
          <img src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="user" width="55" height="60">
          <div class="card__author-content"> 
             <a href="#">Rol Administador</a>
          </div>
        </div>
      </div>
    </div>

  </div>

<script>
  $(document).ready(function($) {

    $('.card__share > a').on('click', function(e){ 
      e.preventDefault() // prevent default action - hash doesn't appear in url
        $(this).parent().find( 'div' ).toggleClass( 'card__social--active' );
      $(this).toggleClass('share-expanded');
      });
    
  });
</script>